HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
profile-service
apigateway-service
shopping-service
board-service

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Created by https://www.toptal.com/developers/gitignore/api/redis
# Edit at https://www.toptal.com/developers/gitignore?templates=redis

### Redis ###
# Ignore redis binary dump (dump.rdb) files

*.rdb

# End of https://www.toptal.com/developers/gitignore/api/redis